/*
 * @Author: Conghao Wong
 * @Date: 2023-02-28 00:48:02
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2023-03-01 21:23:18
 * @Description: file content
 * @Github: https://cocoon2wong.github.io
 * Copyright 2023 Conghao Wong, All Rights Reserved.
 */

.image_in_table {
    width: 2500px;
    vertical-align: top;
}

.logo_image {
    /* width: 2500px; */
    vertical-align: center;
}

.image_intro_homepage {
    width: 180px;
    vertical-align: center;
}

.yjykf_container_00 {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-gap: 20px 30px;
    grid-template-rows: auto auto auto auto;
}

.kytd_container_00 {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-gap: 20px 30px;
    /* grid-template-rows: auto auto auto auto; */
}

.index_container_00 {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 20px 30px;
    /* grid-template-rows: auto auto auto auto; */
}

.index_container_01 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px 40px;
    /* grid-template-rows: auto auto auto auto; */
}

.highlighted_text {
    font-weight: bold;
    color: rgb(35, 153, 255);
}

.btn_selected {
    /* width: 50%; */
    color: rgb(255, 255, 255);
    background-color: rgb(31 152 173);
}

.btn_dark {
    /* width: 22%; */
    color: rgb(0, 0, 0);
    background-color: rgb(236, 236, 236);
    border: 0;
}
