/*
 * @Author: Conghao Wong
 * @Date: 2023-02-28 00:48:02
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2023-03-02 10:14:43
 * @Description: file content
 * @Github: https://cocoon2wong.github.io
 * Copyright 2023 Conghao Wong, All Rights Reserved.
 */

.image_in_table {
    width: 2500px;
    vertical-align: top;
}

.logo_image {
    /* width: 2500px; */
    vertical-align: center;
}

.image_intro_homepage {
    width: 180px;
    vertical-align: center;
}

.yjykf_container_00 {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-gap: 20px 30px;
    grid-template-rows: auto auto auto auto;
}

.kytd_container_00 {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-gap: 20px 30px;
    /* grid-template-rows: auto auto auto auto; */
}

.index_container_00 {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 20px 30px;
    /* grid-template-rows: auto auto auto auto; */
}

.index_container_01 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px 40px;
    /* grid-template-rows: auto auto auto auto; */
}

.highlighted_text {
    font-weight: bold;
    color: rgb(0, 155, 249);
}

/* 强调色 */
.h_01 {
    font-weight: bold;
    color: rgb(0, 155, 249);
}

.h_02 {
    font-weight: bold;
    color: rgb(95, 207, 66);
}

.h_03 {
    font-weight: bold;
    color: rgb(252, 162, 47);
}

.btn_selected {
    /* width: 50%; */
    color: rgb(255, 255, 255);
    /* background-color: rgb(31 152 173); */
    font-weight: bold;
    background-color: rgb(0, 155, 249);
    border-color: rgb(0, 155, 249);
    border: 5px;
}

.btn_selected:hover {
    background-color: rgb(83, 175, 255);
    border-color: rgb(83, 175, 255);
    border: 5px;
}

.btn_dark {
    /* width: 22%; */
    color: rgb(0, 0, 0);
    background-color: rgb(236, 236, 236);
    border: 0;
}

.btn_dark:hover {
    background-color: rgb(83, 175, 255);
    border-color: rgb(83, 175, 255);
    border: 5px;
}